kind: Deployment
apiVersion: apps/v1
metadata:
  name: mongo-deployment
  namespace: shopify
spec:
  replicas: 1
  selector:
    matchLabels:
       app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo-db
          image: mongo:latest
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: local-storage
              mountPath: /data/db
      volumes:
        - name: local-storage
          persistentVolumeClaim:
            claimName: local-pvc
---
kind: Service
apiVersion: v1
metadata:
  name: mongo-service
  namespace: shopify
spec:
  selector:
    app: mongo
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP